<h1>Welcome to Seafood Restaurants Reviews</h1>

<h3>Please Login Below</h3>
<form action="/sessions" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </p>
  
  <input type="submit" />
  
  <h3>Signup Below</h3>

<form action="/users" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </p>
  
  <input type="submit" />
</form>
</form>