<h3>Seafood Restaurant Reviews</h3>
<h4>This is a simple application to view, and review seafood restaurants in your area.</h4>
<br>
<h4><a href="/signup">Sign Up</a> or <a href="/login">Log In</a></h4>